.wp-easy-query-posts ul {
  margin: 0;
  padding: 0;
  > li {
    position: relative;

    overflow: hidden;

    margin: 0 0 30px;
    padding: 0 0 0 120px;

    list-style: none;

    background: none;
  }
  li {
    &.no-img {
      padding: 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.wp-easy-query-paging {
  display: block;
  clear: both;
  overflow: hidden;

  margin: 15px 0 0;
  padding: 15px 0 0;

  text-align: center;

  border-top: 1px solid #efefef;
  ul {
    display: block;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;

    background: none;
    li {
      display: inline-block;

      margin: 0 5px;
      padding: 0;

      list-style: none;

      vertical-align: top;

      background: none;
      &.before,
      &.current,
      a {
        padding: 4px;
      }
      &.current {
        font-weight: 700;
      }
      a {
        display: block;

        padding: 4px 2px;
      }
    }
  }
}
